<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration successful</title>
</head>
<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<body style="color: navy; background: #f9faff">
<div class="container">
  <div class="columns">
      <div class="column col-1">
          <div style="margin: 30px, color: navy">
            <p></p>
          </div>
      </div>
      <div class="column col-11">
          <header class="navbar">
              <section class="navbar-section">
                  <a href={{url_for("project_history")}} class="btn btn-link">Project history</a>
              </section>
              <section class="navbar-center">
                  <img src="http://www.clipartbest.com/cliparts/aTe/Xao/aTeXao5qc.png">
              </section>
              <section class="navbar-section">
                  <a href={{url_for("home")}} class="btn btn-link">Home page</a>
              </section>
          </header>
          <div class="main-style text-center">
              <div style="margin: 10px; color: navy">
                  <h5><font face = "Yu Gothic"></font></h5>
                  <div class="empty">
                      <div class="empty-icon">
                          <i class="icon icon-people"></i>
                      </div>
                      <p class="empty-title h5">You've successfully signed up</p>
                      <p class="empty-subtitle">Click the button to continue with the form.</p>
                      <div class="empty-action">
                          <p></p>
                          <a href={{url_for("fill")}}><button class="btn btn-primary">Back</button></a>
                          <p></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
