<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final</title>
</head>
<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<body style="color: navy; background: #f9faff">
<div class="container">
  <div class="columns">
      <div class="column col-1">
          <div style="margin: 30px, color: navy">
              <p></p>
          </div>
      </div>
      <div class="column col-11">
          <header class="navbar">
              <section class="navbar-section">
                  <a href="#" class="btn btn-link">Project history</a>
              </section>
              <section class="navbar-center">
                  <img src="http://www.clipartbest.com/cliparts/aTe/Xao/aTeXao5qc.png">
              </section>
              <section class="navbar-section">
                  <a href={{url_for("home")}} class="btn btn-link">Home page</a>
              </section>
          </header>
          <div class="main-style text-center">
              <div style="margin: 10px; color: navy">
                  <div class="main-style">
                      <h6><font face = "Yu Gothic">
                          <p>Hi {{login}}! Thank you for the register!</p>
                          <p>We know that you prefer a {{type}} diet and you need to consume {{calories}} daily.</p>
                          <p>According to your preference we will deliver the meals to your room
                             which is located in {{wing}} , {{ward}}.</p>
                          <p>You will receive {{meals}} meals per day.
                              Along with the food will be {{beverage}}.</p>
                          <p>We will provide/not provide cutlery.</p>
                          <p>See below for a complete list of meals.</p></font>
                      </h6>
                  </div>
                  </font>
          </div>
      </div>
</div>
</div>
</div>
</body>
</html>
