<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu tailored to your needs</title>
</head>
<body style="color: navy; background: #f9faff">
<div class="container">
  <div class="columns">
      <div class="column col-1">
          <div style="margin: 30px, color: navy">
          </div>
      </div>
        <div class="column col-11x">
            <header class="navbar">
                <section class="navbar-section">
                    <a href={{url_for("project_history")}} class="btn btn-link">Project history</a>
                </section>
                <section class="navbar-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUEOkWIv_lJcdXWl00EikWo2xiLaNi1nHtDLf93hp-tlZ-UI3QQxEg7bNevsEGe3-cFc0&usqp=CAU" width="200" height="200">
                </section>
                <section class="navbar-section">
                    <a href={{url_for("home")}} class="btn btn-link">Home page</a>
                </section>
            </header>
<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<div class="main-style text-center">
    <br>
    <br>
    <div style="margin: 10px; color: navy">
    <h1><font face = "Yu Gothic">Put the data and customize meals for your stay</font></h1>
        <div class="form-group"></div>
        <h4><br>
            A simple and quick process will allow you to know the menu for the next day.<br><br>
            You can select convenient times for meal delivery to your room.<br><br>
            Additional options provide nutrition tailored to you.<br><br>
        </h4>
        <br><br>
            <div>
            <a href={{url_for("form")}}><button type ="btn btn-primary" style="color: navy">Start</button></a>
            </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>
