<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meals summary</title>
</head>
<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<body style="color: navy; background: #f9faff">
<div class="container">
  <div class="columns">
      <div class="column col-1">
          <div style="margin: 30px, color: navy">
            <p></p>
          </div>
      </div>
      <div class="column col-11">
          <header class="navbar">
              <section class="navbar-section">
                  <a href={{url_for("project_history")}} class="btn btn-link">Project history</a>
              </section>
              <section class="navbar-center">
                  <img src="http://www.clipartbest.com/cliparts/aTe/Xao/aTeXao5qc.png">
              </section>
              <section class="navbar-section">
                  <a href={{url_for("home")}} class="btn btn-link">Home page</a>
              </section>
          </header>
        <div class="left">
            <div style="margin: 10px; color: navy">
                <div class="main-style text-center">
                      <h4><font face = "Yu Gothic">Tick at least 10 names of the meals you prefer.
                          <p>We will prepare an eating plan for the coming week to best fit your daily calories needs.</p>
                      </font></h4>
                <form action="/summary/" method="POST">
                    <table class="table">
                        <thead>
                            <tr>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Nutritions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <label class="form-checkbox form-inline">
                                <td>{% for key, value in mealplan.items() %}
                                    <input name={{key}} type="checkbox"><i class="form-icon"></i>
                                    {{ value[2] }}<br>
                                </label>
                                     {%endfor%}
                                </td>
                                <td>{% for key, value in images.items() %}
                                    <img src="{{value['image']}}" width="142" height="92"><br>
                                    {%endfor%}
                                </td>
                                <td>{% for key, value in nutritions.items() %}
                                    {{ value }}<br>
                                    {%endfor%}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                        <div class="main-style text-center">
                            <div class="main-style text-center">
                                <button type="submit" class="btn btn-primary">Summary</button>
                            </div>
                        </div>
                </form>
                </div>
                </div>
                <div class="column col-11 text-center">
                <div style="margin: 10px">
                    <p>Progress:</p>
                    <progress class="progress" value="100" max="100"></progress>
                    <p></p>
                </div>
            </div>
                </div>
            </div>
</div>
</div>
</body>
</html>
