<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
</head>
<body style="color: navy; background: #f9faff">
<div class="container">
  <div class="columns">
      <div class="column col-1">
          <div style="margin: 30px, color: navy">
            <p></p>
              </div>
      </div>
        <div class="column col-11">
<header class="navbar">
  <section class="navbar-section">
    <a href="#" class="btn btn-link">Project history</a>
  </section>
  <section class="navbar-center">
      <img src="http://www.clipartbest.com/cliparts/aTe/Xao/aTeXao5qc.png">
  </section>
  <section class="navbar-section">
    <a href="#" class="btn btn-link">Collaboration</a>
  </section>
</header>
<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<div class="main-style text-center ">
    <div style="margin: 10px; color: navy">
<div class="card">
  <div class="card-image">
    <img src="https://spoonacular.com/recipeImages/leek_amp_cheese_pie-116679.jpg" class="img-responsive" width="200" height="200">
  </div>
  <div class="card-header">
    <div class="card-title h5">...</div>
    <div class="card-subtitle text-gray">...</div>
  </div>
  <div class="card-body">
    ...
  </div>
  <div class="card-footer">
    <button class="btn btn-primary">...</button>
  </div>
</div>
    </div>
    </div>
      </div>
</div>
</div>
</body>
</html>
