<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About project</title>
</head>
<body style="color: navy; background: #f9faff">
<div class="container">
  <div class="columns">
      <div class="column col-1">
          <div style="margin: 30px, color: navy">
            <p></p>
          </div>
      </div>
        <div class="column col-11">
<header class="navbar">
  <section class="navbar-section">
    <a href={{url_for("project_history")}} class="btn btn-link">Project history</a>
  </section>
  <section class="navbar-center">
      <img src="http://www.clipartbest.com/cliparts/aTe/Xao/aTeXao5qc.png">
  </section>
  <section class="navbar-section">
    <a href={{url_for("home")}} class="btn btn-link">Home page</a>
  </section>
</header>
<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<div class="main-style text-center ">
    <div style="margin: 10px; color: navy">
    <h1><font face = "Yu Gothic">A few words about our project</font></h1>
        <p></p>
        <div class="form-group"></div>
        <h5>
            <p>We created our project to improve the well-being of patients staying on hospital wards.</p>
            <p>We are implementing a pilot program at several of the nation's largest hospitals.</p>
            <p>You can choose your meals from the available menu. We will deliver them to your room.</p>
            <p>Additional options provide nutrition tailored to you.</p>
            <p>If you would like to learn more, contact the hospital dietitian.</p>
            <p></p>
        </h5>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>
