<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body style="color: navy; background: #f9faff">
<div class="columns">
      <div class="column col-1">
          <div style="margin: 30px, color: navy, background: #f5f6ff">
            <p></p>
              </div>
      </div>
        <div class="column col-11">
<header class="navbar">
  <section class="navbar-section">
    <a href="#" class="btn btn-link">Historia projektu</a>
  </section>
  <section class="navbar-center">
      <img src="http://www.clipartbest.com/cliparts/aTe/Xao/aTeXao5qc.png">
  </section>
  <section class="navbar-section">
    <a href="#" class="btn btn-link">Współpraca</a>
  </section>
</header>
<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<div class="main-style">
    <div style="margin: 10px; color: navy; background: #f5f6ff">
    <h3><font face = "Yu Gothic">Rejestracja w naszym systemie umożliwi sprawne korzystanie z platformy</font></h3>
        <div class="form-group"></div>
            <h5><div>Uzupełnij poniższe dane</div></h5>
            <p></p>
            <label class="form-label" for="input-example-1">Jak się nazywasz</label>
            <input class="form-input" type="text" id="input-example-1" placeholder="imię i nazwisko">
            <label class="form-label" for="input-example-2">Podaj swój numer pacjenta</label>
            <input class="form-input" type="text" id="input-example-2" placeholder="nr pacjenta"></div>
    <div class="main-style">
        <div style="margin: 10px; color: navy; background: #f5f6ff">
        <label class="form-label">Na którym oddziale przebywasz</label>
            <select>
            <option>wybierz opcję</option>
                <option id="1">Klinika Kardiochirurgii</option>
                <option id="2">Klinika Neurochirurgii</option>
                <option id="3">Klinika Neurologii</option>
                <option id="4">Klinika Onkologii i Hematologii</option>
                <option id="5">Klinika Ortopedii</option>
                <option id="6">Klinika Otolaryngologii</option>
                <option id="7">Klinika Położnictwa</option>
                <option id="8">Klinika Reumatologii</option>
                <option id="9">Oddział Chorób Wewnętrznych</option>
                <option id="10">Oddział Okulistyki</option>
                <option id="11">Oddział Rehabilitacji Neurologicznej</option>
                <option id="12">Oddział Terapii Izotopowej</option>
            </select></div>
        </div>
        </div>
        <div class="form-group">
            <div style="margin: 10px; color: navy; background: #f5f6ff">
            <label class="form-label">Wybierz kolor skrzydła szpitalnego, w którym zlokalizowana jest Twoja sala</label>
            <select>
                <option>wybierz opcję</option>
                <option id="13">Czerwony</option>
                <option id="14">Zielony</option>
                <option id="15">Niebieski</option>
                <option id="16">Czerwony</option>
                </select>
            <div>
                <div style="color: navy; background: #f5f6ff">
                <p></p>
                <button class="btn btn-primary">Zarejestruj</button>
                <button class="btn btn-primary">Następny krok</button></div>
                <p></p>
            <p>Postęp:</p>
            <progress class="progress" value="25" max="100"></progress>
            <p></p>
                </div>
            </div>
</div>
        </div>
</div>
</body>
</html>