<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<body style="margin: 20px, color: navy; background: #f9faff">
<div class="columns">
      <div class="column col-1">
      </div>
      <div class="column col-11">
          <header class="navbar">
              <section class="navbar-section">
                <a href="#" class="btn btn-link">Project history</a>
              </section>
              <section class="navbar-center">
                  <img src="http://www.clipartbest.com/cliparts/aTe/Xao/aTeXao5qc.png">
              </section>
              <section class="navbar-section">
                  <a href={{url_for("home")}} class="btn btn-link">Home page</a>
              </section>
          </header>
      <div>
          <h3 style="margin: 5px"><font face = "Yu Gothic"> Registration in our system will enable efficient use of the platform</font></h3>
          <div class="column col-lg-auto col-5">
              <div class="form-group"></div>
              <p></p>
                  <h5>Fill in the following data</h5>
              <p></p>
          <form action="/endofreg/" method="POST">
              <label class="form-label" for="input-example-1">What's your name (login)</label>
                  <input name="login" class="form-input" type="text" id="input-example-1" placeholder="name and surname">
                  <p></p>
              <label class="form-label" for="input-example-2">Put your 5-character patient number (password)</label>
                  <input name="password" class="form-input" maxlength="5" type="text" id="input-example-2" placeholder="patient no.">
                  <p></p>
              <label class="form-label">Which ward you are in?</label>
                  <select name="ward">
                  <option>choose option</option>
                  <option id="1">Department of Cardiac Surgery</option>
                  <option id="2">Department of Internal Medicine</option>
                  <option id="3">Department of Isotope Therapy</option>
                  <option id="4">Department of Neurological Rehabilitation</option>
                  <option id="5">Department of Neurology</option>
                  <option id="6">Department of Neurosurgery</option>
                  <option id="7">Department of Oncology and Hematology</option>
                  <option id="8">Department of Ophthalmology</option>
                  <option id="9">Department of Orthopaedics</option>
                  <option id="10">Department of Obstetrics</option>
                  <option id="11">Department of Otolaryngology</option>
                  <option id="12">Department of Rheumatology</option>
                  </select>
                  <p></p>
              <label class="form-label">Select the color of the hospital wing in which your room is located</label>
              <select name="wing">
                  <option>choose option</option>
                  <option id="13">Red Wing</option>
                  <option id="14">Green Wing</option>
                  <option id="15">Blue Wing</option>
                  <option id="16">Yellow Wing</option>
              </select>
                  <p></p>
              <div>
                  <p></p>
                  <button type="submit" class="btn btn-primary">Register</button>
                  <p></p>
              </div>
          </form>
      </div>
          <div style="margin: 10px">
            <p>Progress:</p>
            <progress class="progress" value="25" max="100"></progress>
            <p></p>
          </div>
</div>
</div>
</div>
</body>
</html>
